In [1]:
import pandas as pd

/home/jess_oknotok/.local/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
df = pd.read_csv("https://cdn.produccion.gob.ar/cdn-cep/araucano/base_araucano.csv")

In [3]:
df.shape

(820335, 13)

**Para más información, ver:**

- [https://datacarpentry.org/python-ecology-lesson-es/05-merging-data/index.html](url)
- [https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html](url)
- [https://datacarpentry.org/python-socialsci/11-joins/index.html](url)

In [4]:
# Rama
df['rama_id_map'] = df['rama_id'].map({1:'Ciencias Sociales', 
                                       2:'Ciencias Aplicadas', 
                                       3:'Ciencias de la Salud', 
                                       4:'Ciencias Humanas', 
                                       5:'Ciencias Básicas', 
                                       6:'Sin Rama'
                                       })
# Disciplina
df['disciplina_id_map'] = df['disciplina_id'].map({1:'Economía y Administración', 
                                                   2: 'Ingeniería',
                                                   3: 'Sociología, Antropología y Servicio Social',
                                                   4: 'Ciencias Agropecuarias',
                                                   5: 'Medicina',
                                                   6: 'Ciencias Políticas, Relaciones Internacionales y Diplomacia',
                                                   7: 'Derecho',
                                                   8: 'Artes',
                                                   9: 'Educación',
                                                   10: 'Informática',
                                                   11: 'Psicología',
                                                   12: 'Historia',
                                                   13: 'Arquitectura y Diseño',
                                                   14: 'Letras e Idiomas',
                                                   15: 'Meteorología',
                                                   16: 'Biología',
                                                   17: 'Bioquímica y Farmacia',
                                                   18: 'Paramédicas y Auxiliares de la Medicina',
                                                   19: 'Ciencias de la Información y de la Comunicación',
                                                   20: 'Filosofía',
                                                   21: 'Industrias',
                                                   22: 'Demografía y Geografía',
                                                   23: 'Ciencias del Suelo',
                                                   24: 'Relaciones Institucionales y Humanas',
                                                   25: 'Salud Pública',
                                                   26: 'Veterinaria',
                                                   27: 'Otras Ciencias Sociales',
                                                   28: 'Otras Ciencias Aplicadas', 
                                                   29: 'Odontología',
                                                   30: 'Física',
                                                   31: 'Sanidad',
                                                   32: 'Química',
                                                   33: 'Teología',
                                                   34: 'Matemática',
                                                   35: 'Estadística',
                                                   36: 'Astronomía',
                                                   37: 'Sin Disciplina',
                                                   38: 'Arqueología'
                                                   })
# Título
df['tipo_titulo_id_map'] = df['tipo_titulo_id'].map({1:'Pregrado y títulos intermedios',
                                                     2:'Tecnicatura',
                                                     3:'Grado y profesorado',
                                                     4:'Posgrado'
                                                     })
# Tipo de Gestión
df['gestion_id_map'] = df['gestion_id'].map({1:'Estatal',
                                             2:'Privada'
                                            })
# Género
df['genero_id_map'] = df['genero_id'].map({1:'Mujer', 
                                           2:'Varon'
                                           })
# Región
df['region_id_map'] = df['region_id'].map({1:'CABA', 
                                           2:'BUENOS AIRES',
                                           3:'RESTO PAMPEANA (SANTA FE, CORDOBA, ENTRE RIOS, LA PAMPA)', 
                                           4:'NOA',
                                           5:'NEA', 
                                           6:'CUYO',
                                           7: 'PATAGONIA'
                                           })
# Tamaño de empresa
df['tamanio_id_map'] = df['tamaño_id'].map({1:'Micro: menos de 10 empleados', 
                                           2:'Pequeña: 10 a 49 empleados',
                                           3:'Mediana: 50 a 199 empleados', 
                                           4:'Grande: 200 empleados o más'
                                           })
# Letra
df['letra_id_map'] = df['letra_id'].map({1:'Actividades administrativas y servicios de apoyo',
                                         2: 'Administración pública, defensa y seguridad social obligatoria',
                                         3: 'Agricultura, ganadería, caza, silvicultura y pesca',
                                         4: 'Suministro de agua, cloacas, gestión de residuos y recuperación de materiales y saneamiento público',
                                         5: 'Servicios de asociaciones y servicios personales',
                                         6: 'Comercio al por mayor y al por menor, reparación de vehículos automotores y motocicletas',
                                         7: 'Construcción',
                                         8: 'Servicios artísticos, culturales, deportivos y de esparcimiento',
                                         9: 'Suministro de electricidad, gas, vapor y aire acondicionado',
                                         10: 'Enseñanza',
                                         11: 'Intermediación financiera y servicios de seguros',
                                         12: 'Servicios de alojamiento y servicios de comida',
                                         13: 'Industria manufacturera',
                                         14: 'Información y comunicaciones',
                                         15: 'Explotación de minas y canteras',
                                         16: 'Salud humana y servicios sociales',
                                         17: 'Servicios de asociaciones y órganos extraterritoriales',
                                         18: 'Servicios inmobiliarios',
                                         19: 'Servicios profesionales, científicos y técnicos',
                                         20: 'Servicio de transporte y almacenamiento'
                                         })
df = df.drop(['rama_id', 'disciplina_id', 'tipo_titulo_id','gestion_id', 'genero_id', 'region_id', 'tamaño_id', 'letra_id'], axis=1)

In [5]:
df.head()

,id,salario,anio,anioegreso,anionac,rama_id_map,disciplina_id_map,tipo_titulo_id_map,gestion_id_map,genero_id_map,region_id_map,tamanio_id_map,letra_id_map
0,1,NaN,2019,2017,1976.0,Ciencias Sociales,Economía y Administración,Posgrado,Estatal,Mujer,CABA,NaN,NaN
1,1,NaN,2020,2017,1976.0,Ciencias Sociales,Economía y Administración,Posgrado,Estatal,Mujer,CABA,NaN,NaN
2,1,NaN,2021,2017,1976.0,Ciencias Sociales,Economía y Administración,Posgrado,Estatal,Mujer,CABA,NaN,NaN
3,2,NaN,2019,2018,1980.0,Ciencias Sociales,Economía y Administración,Posgrado,Estatal,Mujer,BUENOS AIRES,NaN,NaN
4,2,NaN,2020,2018,1980.0,Ciencias Sociales,Economía y Administración,Posgrado,Estatal,Mujer,BUENOS AIRES,NaN,NaN

In [8]:
# https://www.statology.org/pandas-to-csv/
df.to_csv("./python+tableau/base-full.csv", index=False)